#addConference {
    padding:10px;
}

.conference {
    padding-top: 10px;
    border-bottom:solid 1px;
    clear: both;
}

.summary, .participants {
    float:left;
}

.summary {
    margin-right:10px;
    width:300px;
}

.summary .date {
    font-style:italic;
}

.summary .description {
    padding-bottom:10px;
}

.participants .host {
    font-weight:bold;
}

.conference .buttons {
    clear:both;
    padding:10px 0;
}

.conference .field {
    padding-bottom:10px;
}

.conference .field input {
    width:300px;
}

.conference .field label {
    width:100px;
    display:inline-block;
}
