<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <!-- Hibernate -->
    <bean id="webex.DataSource"
        class="org.apache.commons.dbcp.BasicDataSource"
        destroy-method="close">
        <property name="driverClassName">
            <value>com.mysql.jdbc.Driver</value>
        </property>
        <property name="url">
            <value>jdbc:hsqldb:mem:webex</value>
        </property>
        <property name="username">
            <value>sa</value>
        </property>
        <property name="password">
            <value></value>
        </property>
    </bean>

    <bean id="webexTransactionManager"
        class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory">
            <ref bean="webexSessionFactory" />
        </property>
    </bean>
    
    <bean id="com.ultralinellc.webex.model.ConferenceManager"
        class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="transactionManager">
            <ref bean="webexTransactionManager" />
        </property>
        <property name="target">
            <bean class="com.ultralinellc.webex.model.ConferenceManagerImpl">
                <property name="sessionFactory" ref="webexSessionFactory" />
                <property name="transactionManager" ref="webexTransactionManager" />
                <property name="sakaiProxy" ref="com.ultralinellc.webex.logic.SakaiProxy" />
            </bean>
        </property>
        <property name="transactionAttributes">
            <props>
                <prop key="*">PROPAGATION_REQUIRED</prop>
            </props>
        </property>
    </bean>

    <bean id="webexSessionFactory" parent="org.sakaiproject.springframework.orm.hibernate.GlobalSessionFactory">
        <property name="mappingResources">
            <list>
                <value>com/ultralinellc/webex/model/Conference.hbm.xml</value>
            </list>
        </property>
    </bean>
    
    <!--  SakaiProxy -->
    <bean id="com.ultralinellc.webex.logic.SakaiProxy" class="com.ultralinellc.webex.logic.SakaiProxyImpl" init-method="init">
        <!-- API injection -->
        <property name="securityService" ref="org.sakaiproject.authz.api.SecurityService" />
        <property name="sessionManager" ref="org.sakaiproject.tool.api.SessionManager" />
        <property name="toolManager" ref="org.sakaiproject.tool.api.ToolManager" />
        <property name="userDirectoryService" ref="org.sakaiproject.user.api.UserDirectoryService" />
        <property name="eventTrackingService" ref="org.sakaiproject.event.api.EventTrackingService" />
        <property name="serverConfigurationService" ref="org.sakaiproject.component.api.ServerConfigurationService" />
        <property name="siteService" ref="org.sakaiproject.site.api.SiteService" />
    </bean>
    
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
<!-- 		<property name="prefix" value="/WEB-INF/jsp/" /> -->
		<property name="suffix" value=".jsp" />
		<property name="order" value="10" />
	</bean>
	
	<bean name="/index.htm" class="com.ultralinellc.webex.tool.HomeController">
        <property name="conferenceManager" ref="com.ultralinellc.webex.model.ConferenceManager" />
        <property name="sakaiProxy" ref="com.ultralinellc.webex.logic.SakaiProxy"/>
	</bean>

	<bean name="/add.htm"    class="com.ultralinellc.webex.tool.AddController">
		<property name="sakaiProxy" ref="com.ultralinellc.webex.logic.SakaiProxy"/>
        <property name="conferenceManager" ref="com.ultralinellc.webex.model.ConferenceManager" />
        <property name="siteService" ref="org.sakaiproject.site.api.SiteService" />
        <property name="userDirectoryService" ref="org.sakaiproject.user.api.UserDirectoryService" />
    </bean>
	<bean name="/addSuccess.htm"  class="com.ultralinellc.webex.tool.AddSuccessController">
        <property name="conferenceManager" ref="com.ultralinellc.webex.model.ConferenceManager" />
    </bean>
	<bean name="/view.htm"   class="com.ultralinellc.webex.tool.ViewController">
        <property name="conferenceManager" ref="com.ultralinellc.webex.model.ConferenceManager" />
    </bean>
	<bean name="/edit.htm"   class="com.ultralinellc.webex.tool.EditController">
        <property name="formView" value="edit" />
        <property name="successView" value="editSuccess" />
        <property name="sakaiProxy" ref="com.ultralinellc.webex.logic.SakaiProxy"/>
        <property name="conferenceManager" ref="com.ultralinellc.webex.model.ConferenceManager" />
        <property name="siteService" ref="org.sakaiproject.site.api.SiteService" />
        <property name="userDirectoryService" ref="org.sakaiproject.user.api.UserDirectoryService" />
    </bean>
	<bean name="/deleteConfirm.htm" class="com.ultralinellc.webex.tool.DeleteConfirmController">
        <property name="conferenceManager" ref="com.ultralinellc.webex.model.ConferenceManager" />
    </bean>
	<bean name="/delete.htm" class="com.ultralinellc.webex.tool.DeleteController">
        <property name="conferenceManager" ref="com.ultralinellc.webex.model.ConferenceManager" />
    </bean>
</beans>
